<!DOCTYPE html>
<html>
<head>
    <title>Justin Johnson | Technical Interview: Take-Home Exercise Solution</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="container">
    <h1>Justin Johnson</h1>
    <h2>Technical Interview: Take-Home Exercise</h2>
    <h3><code>Solution for Tam</code></h3>
    <p>Click <a href="/justin-five-favorite-pokemon">here</a> to review the response.</p>
</div>
</body>
</html>
